main {
    border: 2px solid green;
    height: 500px;
}

.flex-container {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed purple;
    margin: 0 auto;
    flex-wrap: wrap;
}

.flex-container div {
    margin: 20px;
    padding: 30px;
    border: 1px solid red;
    font-size: 30px;
    color: blue;
    background-color: pink;
}